/*Importando estilos*/

@import url("css/nesn.css");
@import url("css/normalize.css");

/*Configs Gerais*/
body {
   background-color: #f0f0f0;
   font-family: 'Abel', sans-serif;
   color: #333;
}

/*Header - Nav*/
nav {
   z-index: 10;
   position: fixed;
   height: 50px;
   width: 100%;
   background-color: rgba(255,255,255,0);
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0);
   transition: 0.2s all ease;
   color: #fff;
   font-size: 18px;
   text-transform: uppercase;
}
nav:not(#NavRetratil){
   background-color: rgba(255,255,255,1);
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
   color: #33aaaa;
}
#NavRetratil {
   height: 100px;
}
.mobile-menu{
   height: 100px;
   background-color: rgba(255,255,255,1);
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
   color: #33aaaa;
}
.tamanho-pai {
   height: inherit;
}
nav .logo-menu {
   height: inherit;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}
nav .logo-menu h1 {
   font-family: 'Fira Sans Condensed', 'Abel', sans-serif;
   margin: 0;
   font-size: 48px;
}
nav ul{
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
nav ul li{
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   transition: 0.2s all ease;
}
nav ul li:hover{
   letter-spacing: 0.05em;
   font-size: 20px;
   font-weight: bolder;
}
nav a{
   color: inherit;
   transition: 0.2s all ease;
   text-decoration: none;
}


/*-------HOME SECTIONS-------*/

/*SECTION NOTÍCIAS*/
.imagem-fundo{
   width: 100%;
   height: 100vh;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   z-index: -10;
   position: absolute;
}
.home-noticia {
   height: 100vh;
}
.home-noticia button {
   background-color: rgba(255, 255, 255, 0);
   color: #fff;
   opacity: 0.7;
   position: absolute;
   z-index: 1;
   font-size: 72px;
   transition: 0.2s all ease;
   padding: 0 20px;
   text-align: center;
   height: 100vh;
   border: none;
   outline: none;
}
.home-noticia button:hover{
   background-color: rgba(255, 255, 255, 0.2);
   font-size: 80px;
}
.home-noticia button:nth-child(1){
   left:0;
}
.home-noticia button:nth-child(2){
   right:0;
}
/*Ajustando botões para site responsivo*/
@media only screen and (max-width: 1150px) and (min-width: 768px){
   .home-noticia button{
      height: 100px;
      font-size: 48px;
      bottom: 0;
   }
   .home-noticia button:hover{
      font-size: 56px;
   }
}
.home-noticia ul li{
   opacity: 0;
   display: hidden;
   z-index: -1;
   position: absolute;
   width: 100%;
   top: 0;
   left:0;
   transition: 1s all ease;
}
.noticia-container{
   padding-top: 200px;
   color: #fff;
}
.noticia-container h2{
   font-family: 'Fira Sans Condensed', sans-serif;
   font-size: 48px;
}
.noticia-container h3{
   font-family: 'Abel', sans-serif;
   font-size: 32px;
   margin-top: 10px;
}
.noticia-container p{
   font-family: 'Questrial', sans-serif;
   font-size: 20px;
   line-height: 28px;
   padding-right: 200px;
   margin: 40px 0; 
}
.noticia-container a{
   font-family: 'Abel', sans-serif;
   font-size: 25px;
   border-radius: 4px;
   padding: 10px 20px;
   background-color: #fff;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
   color: #333;
   text-decoration: none;
   transition: 0.2s all ease;
}
.noticia-container a:hover{
   color:#fff;
   background-color: #33aaaa;
}
@media only screen and (max-width: 767px){
   .noticia-container p {
      padding-right: 0;
   }
}

/*SECTION CULTOS*/
.home-cultos{
   background-color: #33aaaa;
   padding: 60px 0;
}
.home-cultos .sec-titulo{
   color:#fff;
}
.home-cultos > p{
   color:#fff;
   font-size: 25px;
   text-align: center;
   margin-top: 20px;
}
.sec-titulo{
   text-align: center;
   margin-bottom: 40px;
   font-family: 'Fira Sans Condensed', sans-serif;
   font-size: 48px;
}
.card-container .card-culto{
   text-align: center;
   background-color: #fff;
   border-radius: 4px;
   padding: 20px 10px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   transition: 0.2s all ease;
   margin-bottom: 10px;
}
@media only screen and (min-width: 768px){
   .home-cultos .card-container{
      display: flex;
      justify-content: space-around;
   }
   .card-container .card-culto{
      margin-bottom: 0;
   }
}
.card-container .card-culto:hover{
   color:#fff;
   background-color: rgba(255, 255, 255, 0.2);
}
.card-container .card-culto h3{
   font-size: 25px;
   margin-bottom: 20px;
   font-weight: bold;
}
.card-container .card-culto p{
   font-size: 18px;
   line-height: 20px;
   margin-bottom: 10px;
}

/*SECTION BLOG E EVENTOS*/
.home-blog-eventos{
   margin-top: 60px;
}
.blog-info h3{
   font-weight: bold;
   font-size: 25px;
   color:#333;
   text-decoration: none;
   margin-bottom: 10px;
   border-bottom: 2px solid #333;
   padding-bottom: 10px;
}
.blog-info p.blog-autor{
   font-style: italic;
   font-size: 18px;
   font-family: 'Abel',sans-serif;
   margin-bottom: 20px;
}
.blog-info p{
   font-family: 'Questrial', sans-serif;
   font-size: 18px;
   margin-bottom: 10px;
}
.a-btn{
   margin-top: 20px;
}
.a-btn a{
   background-color: #fff;
   font-size: 25px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   padding: 10px 20px;
   border-radius: 4px;
   text-decoration: none;
   color: #33aaaa;
   transition: 0.2s all ease;
}
.a-btn a:hover{
   background-color: #33aaaa;
   color:#fff;
}

.eventos-lista{
   background-color: #fff;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   padding: 20px;
   border-radius: 4px;
   transition: 0.2s all ease;
}
.eventos-lista ul li{
   margin-bottom: 20px;
}
.eventos-lista ul li p{
   font-size: 25px;
   font-weight: bold;
   margin-bottom: 10px;
   border-bottom: 2px solid #333;
}
.eventos-lista ul li ul li{
   margin-bottom: 0px;
}

/*SECTION VIDEO*/
.home-videos{
   background-color: #33aaaa;
   color: #fff;
   padding: 60px 0;
   margin-top: 100px;
   text-align: center;
}
.video-video{
   text-align: right;
}
.home-videos p{
   font-family: 'Questrial', sans-serif;
   font-size: 18px;
   margin-bottom: 10px;
}

@media only screen and (max-width: 767px){
   .evento-info{
      margin-top: 40px;
   }
   .home-videos{
      margin-top: 40px;
   }
}
/*FOOTER*/
footer{
   background: #333;
   color: #fff;
   padding: 60px 0px 20px 0px;
}
footer h3{
   font-size: 25px;
   border-bottom: 2px solid #fff;
   margin-bottom: 10px;
}
footer a{
   color: #fff;
   text-decoration: none;
}
footer ul{
   margin-bottom: 20px;
}
footer ul p{
   margin-bottom: 5px;
}
.footer-redes{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-size: 48px;
   color:#fff;
   margin-top: 20px;
}
.footer-redes a{
   transition: 0.2s all ease;
}
.footer-redes a:hover{
   font-size: 56px;
}
.footer-redes a:nth-child(1):hover{
   color:#C13584;
}
.footer-redes a:nth-child(2):hover{
   color:#3B5998;
}
.footer-redes a:nth-child(3):hover{
   color:#ea2222;
}
footer p.footer-final{
   padding-top: 60px;
   color:#fff;
   font-size: 16px;
   text-align: center;
}
footer p.footer-final a{
   font-style: italic;
}